# Server Configuration
PORT=8000
BACKEND_URI=http://localhost:8000
CORS_ORIGIN=http://localhost:5173,https://www.zeusrobotics.ai

# Database Configuration
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>

# Cloudinary Configuration (for file uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Nodemailer Configuration (for sending emails)
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER=your-brevo-login-email@smtp-brevo.com
EMAIL_PASS=your-brevo-master-password

# Application-Specific Configuration
INQUIRY_RECIPIENT_EMAIL=inquiries@example.com
CAREERS_RECIPIENT_EMAIL=careers@example.com